/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 205 65% 8%;
  --clr-light: 338 13% 88%;
  --clr-white: 0 0% 95%;
  --clr-gray: 345 2% 58%;
  --clr-safe: 181 100% 53%;
  --clr-safe--shade: 181 100% 23%;
  --clr-cheap: 115 100% 53%;
  --clr-cheap--shade: 115 100% 23%;
  --clr-fast--secondary: 0 100% 53%;
  --clr-fast--secondary--shade: 0 100% 23%;
  --clr-fast--primary: 51 100% 53%;
  --clr-fast--primary--shade: 51 100% 23%;

  /* font-sizes */
  --fs-900: clamp(5.653rem, 8vw + 1rem, 6.375rem);
  --fs-800: 3.998rem;
  --fs-700: 2.827rem;
  --fs-600: 1.999rem;
  --fs-500: 1.414rem;
  --fs-400: 1rem;
  --fs-300: 0.8rem;
  --fs-200: 0.8rem;
	



  /* font-families */
  --ff-serif: 'Cormorant', serif;
  --ff-sans: 'Karla', sans-serif;
}

@media (max-width: 900px) {
    :root {
        --fs-900: clamp(4rem, 8vw + 1rem, 9.375rem);
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid yellow; */
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}


p {
  line-height: 1.3;
}


/* set up the body */
.fast {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--clr-light));
  background-color: hsl(var(--clr-dark));
  line-height: 1.3;
  display: grid;
  grid-template-rows: min-content 1fr;
  font-weight: 400;
  overflow-x: hidden;
}

img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.overflow {
  overflow: hidden;
}

.overflow-x {
  overflow-x: hidden;
}

.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: .75rem;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: .5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */

.clr-dark {
  background-color: hsl(var(--clr-dark));
}

.clr-light {
  background-color: hsl(var(--clr-light));
}

.clr-white {
  background-color: hsl(var(--clr-white));
}

.clr-gray {
  background-color: hsl(var(--clr-gray));
}

.clr-safe {
  background-color: hsl(var(--clr-safe));
}

.clr-safe--shade {
  background-color: hsl(var(--clr-safe--shade));
}

.clr-cheap {
  background-color: hsl(var(--clr-cheap));
}

.clr-cheap--shade {
  background-color: hsl(var(--clr-cheap--shade));
}

.clr-fast--primary {
  background-color: hsl(var(--clr-fast--primary));
}

.clr-fast--primary--shade {
  background-color: hsl(var(--clr-fast--primary--shade));
}

.clr-fast--secondary {
  background-color: hsl(var(--clr-fast--secondary));
}

.clr-fast--secondary-shade {
  background-color: hsl(var(--clr-fast--secondary--shade));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-gray {
  color: hsl(var(--clr-gray));
}

.text-safe {
  color: hsl(var(--clr-safe));
}

.text-safe--shade {
  color: hsl(var(--clr-safe-shade));
}

.text-cheap {
  color: hsl(var(--clr-cheap));
}

.text-cheap-shade {
  color: hsl(var(--clr-cheap--shade));
}

.text-fast--primary {
  color: hsl(var(--clr-fast--primary));
}

.text-fast--primary--shade {
  color: hsl(var(--clr-fast--primary--shade));
}

.text-fast--secondary {
  color: hsl(var(--clr-fast--secondary));
}

.text-fast--secondary--shade {
  color: hsl(var(--clr-fast--secondary--shade));
}

/* typography */

.ff-test {
  font-family: var(--ff-serif);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans {
  font-family: var(--ff-sans);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700 {
  line-height: 1.1;
}


.fw-900 {
  font-weight: 900;
}

.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.fw-200 {
  font-weight: 200;
}

.fw-100 {
  font-weight: 100;
}


/* ------------------- */
/* Compontents         */
/* ------------------- */
/*

/* primary-header */

/* LOGO */

.logo {
  margin-block: 3em;
  margin-left: 2em;
  min-width: 8em;
}


@media (min-width: 900px) {
  .logo {
    margin-block: auto;
    margin-left: 0;
    min-width: 23em;
  }
}

/* NAVIGATION */

.layout-header {
  justify-content: space-between;
  align-items: center;
}

.layout-navigation {
  --gap: clamp(1.5rem, 4vw, 3rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-white) / 0.05);
  backdrop-filter: blur(1.5rem);
}

.layout-navigation a {
  text-decoration: none;
}

.layout-navigation a>span {
  font-weight: 700;
  margin-right: .5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 900px) {
  .layout-navigation {
    --underline-gap: .5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .layout-navigation[data-visible="true"] {
    transform: translateX(0);
  }
/*
  .layout-navigation.underline-indicators>.active {
    border: 0;
  }
	*/

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
		outline: 1px solid green;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }

}

@media (min-width: 35em) {
  .layout-navigation {
    padding-inline: clamp(1rem, 3vw, 3rem);
  }
}

@media (min-width: 35em) and (max-width: 899px) {
    .layout-navigation a > span {
        display: none;
    }
}

@media (min-width: 900px) {

  .layout-header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -2.5rem;
    background: hsl(var(--clr-white) / .25);
    order: 1;
  }

  nav {
    order: 2;
  }

  .layout-navigation {
    margin-block: 2rem;
  }

  .sticky {
  	position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
		box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(101deg, rgba(245, 247, 250, .12), rgba(245, 247, 250, .06) 52%, rgba(245, 247, 250, 0));
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
	transition: .2s ease;
  }
	
	.sticky .layout-navigation {
    margin-block: 0;
		background: hsl(var(--clr-white) / 0);
		backdrop-filter: blur(0);
 	  transition: margin-block .2s ease, background 0s ease, backdrop-filter 0s ease;
  }

}

.underline-indicators>* {
  cursor: pointer;
  padding: var(--underline-gap, .5rem) 0;
  border: 0;
  border-bottom: .2rem solid hsl(var(--bd-clr) / 0);
  background-color: transparent;
}

.underline-indicators>*:hover,
.underline-indicators>*:focus {
  border-color: hsl(var(--bd-clr) / .5);
}

.underline-indicators>.active,
.underline-indicators>[aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--bd-clr) / 1);
}

.nav-home{
	--bd-clr: var(--clr-white);
}

.nav-fast{
	--bd-clr: var(--clr-fast--primary);
}

.nav-safe{
	--bd-clr: var(--clr-safe);
}

.nav-cheap{
	--bd-clr: var(--clr-cheap);
}


/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */


/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */



/*    Main section   */

.container {
  --gap: 2em;
  width: 100%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%; 
  align-items: center;
  margin-bottom: 3em;
  position: relative;
}

.container-txt--p {
  margin-block: 1em;
}

.container-txt--p--s {
  margin-block: 0.1em;
  line-height: 1.3em;
}

.container-image {
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
  border: solid 1px rgba(245, 247, 250, 0.06);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 24px;
  transition: .5s ease;
  /* background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzMwIiBoZWlnaHQ9IjM1MCIgdmlld0JveD0iMCAwIDczMCAzNTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDBINzMwVjM1MEwwIDI3MFYwWiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzE0MTMyXzQxMzAyKSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzE0MTMyXzQxMzAyIiB4MT0iLTgzLjA4OTQiIHkxPSIxMDguODQxIiB4Mj0iNTAxLjM5MiIgeTI9IjYxMy40OTYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzAwRkZBQSIvPgo8c3RvcCBvZmZzZXQ9IjAuNTM2NDU4IiBzdG9wLWNvbG9yPSIjNDU3OUY1Ii8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzlDNDJGNSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPgo=);*/
  margin: auto;
  padding: 1em;
}

.container-image--img {
  max-width: 100%;
}

@media (min-width: 900px) {

  .container {
    --gap: 1em;
    max-width: 1120px;
    padding-inline: 1em;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 7em;
  }

  .container-image {
    padding: 1em;
  }

  .container-txt--title {
    margin-bottom: 0;
  }
}

/*    Cards section    */



.container-cards {
  --gap: 1rem;
  margin: auto auto 30px;
  padding-block: 4em;
}


.section-cards--title {
  margin-bottom: 1em;
}

.cards {
  --gap: 2rem;
}

.card {
  min-height: 100%;
  padding: 1em;
  box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
  border: solid 1px rgba(245, 247, 250, 0.06);
  background-image: linear-gradient(101deg, rgba(245, 247, 250, .12), rgba(245, 247, 250, .06) 52%, rgba(245, 247, 250, 0));
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 24px;
  transition: .4s;
}


@media (min-width: 900px) {

  .section-cards--title {
    text-align: center;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }

  .card {
    padding: 24px;
  }

  .card-center {
    transform: translateY(-32px);
  }

}


/*    Decoration    */


.decoration-big {
  display: block;
  width: clamp(10vh, 20vh, 100%);
  aspect-ratio: 1;
  right: 0;
  top: 0;
  background-image: linear-gradient(112.49deg, hsl(var(--clr-fast--secondary--shade)) 30.05%, hsl(var(--clr-fast--primary)) 89.89%);
}

.page-decoration {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 900px) {
  .page-decoration {
    top: -1em;
    right: -1em;
    width: 560px;
    border-radius: 100% 0% 53% 47% / 36% 7% 93% 64%;
  }
}

.decoration {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.decoration-left {
  width: 200px;
  height: 200px;
  top: 20%;
  left: -11%;
  background-image: linear-gradient(112.49deg, #12c2e9 1.05%, #c471ed 54.08%, #f64f59 99.89%);
  transform: rotate(-180deg);
}

.decoration-center {
  width: 170px;
  height: 170px;
  right: 1%;
  top: 37%;
  background-image: linear-gradient(112.49deg, red 1.05%, blue 99.89%);
}

.decoration-right {
  width: 150px;
  height: 150px;
  right: 40%;
  top: 80%;
  background: linear-gradient(112.49deg, #f0c 1.05%, #339 99.89%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media (min-width: 900px) {
  .decoration-left {
    width: 170px;
    height: 170px;
    top: 12%;
    left: -7%;
  }

  .decoration-center {
    width: 300px;
    height: 300px;
    right: 30%;
    top: 70%;
  }

  .decoration-right {
    width: 223px;
    height: 223px;
    left: 90%;
    top: 25%;
  }

}


/*   GRAPH - SPEED BOUNCE    */

.chart-container {
  text-align: left;
  flex-direction: column;
  margin: 1em auto;
  max-width: 600px;
  padding: 0 1em;
  background: hsl(var(--clr-dark) / .5);
  color: hsl(var(--clr-light));
  border: 1px solid hsl(var(--clr-gray));
  border-radius: 25px;
  box-shadow: 20px 30px 80px -30px hsl(var(--clr-dark));
  border-top: .6em solid hsl(var(--clr-gray));
  align-self: center;
}

.chart-header {
  text-align: center;
}

.chart-header--title {
  margin-top: 1em;
}

.chart-header--txt {
  margin-block: 1em;
}

.horizontal-bar-chart {
  padding-left: 0;

}

.horizontal-bar-chart li,
.horizontal-bar-chart p {
  position: relative;
  display: block;
}


.horizontal-bar-chart li {
  height: 1.5em;
  margin-bottom: .2em;
  background: hsl(var(--clr-light));
  border-radius: 50px;
}

.horizontal-bar-chart p {
  margin-block: .5em 1.5em;
}

.chart-container-index {
  position: absolute;
  height: 100%;
  text-indent: 1em;
  font-size: 1em;
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-fast--secondary));
  line-height: 1.5em;
  border-radius: 50px;
}

/*    END      */
