/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

:root {
    /* colors */

    --clr-dark: 205 65% 8%;
    --clr-light: 338 13% 88%;
    --clr-white: 0 0% 95%;
    --clr-gray: 345 2% 58%;
    --clr-safe: 181 100% 53%;
    --clr-safe--shade: 204 100% 23%;
    --clr-cheap: 115 100% 53%;
    --clr-cheap--shade: 115 100% 23%;
    --clr-fast--secondary: 0 100% 53%;
    --clr-fast--secondary--shade: 0 100% 23%;
    --clr-fast--primary: 51 100% 53%;
    --clr-fast--primary--shade: 51 100% 23%;

    /* font-sizes */
    --fs-900: clamp(3.6rem, 6vw + 1rem, 5rem);
    --fs-800: 3.5rem;
    --fs-700: calc(1.5vw + 1.17rem);
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: 'Cormorant', serif;
    --ff-sans: 'Karla', sans-serif;
}

/*
@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: calc(1.5vw + 1rem);
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

*/

@media (min-width: 45em) {
    :root {

        --fs-900: clamp(3rem, 8vw + 1rem, 9.375rem);
        ;
        --fs-700: calc(1.5vw + 1rem);
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

*/
/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
li {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-dark));
    background: -webkit-gradient(linear,
            left bottom, left top,
            color-stop(45%, hsl(var(--clr-dark))),
            color-stop(0%, hsl(var(--clr-light)))), no-repeat;
    background: -o-linear-gradient(bottom,
            hsl(var(--clr-dark)) 45%,
            hsl(var(--clr-light)) 0%), no-repeat;
    background: linear-gradient(360deg,
            hsl(var(--clr-dark)) 45%,
            hsl(var(--clr-light)) 0%), no-repeat;
    min-height: 100vh;
    position: relative;
    z-index: 100;
    pointer-events: none;
}

/**** ANIMATE BODY BACKGROUND ON HOVER *****/

body::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    pointer-events: none;
}

body:hover::after {
    opacity: 1;
    pointer-events: none;

}



/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
             -o-transition-duration: 0.01ms !important;
                transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* gap: var(--gap, 1rem);*/
}

.grid {
    display: -ms-grid;
    display: grid;
    gap: var(--gap, .17rem);
}

.d-block {
    display: block;
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: .75rem;
}

.container {
    padding-inline: 5em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
    padding: .5em 1em;
    margin-inline: auto;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.skip-to-content:focus {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

/* colors */

.clr-dark {
    background-color: hsl(var(--clr-dark));
}

.clr-light {
    background-color: hsl(var(--clr-light));
}

.clr-white {
    background-color: hsl(var(--clr-white));
}

.clr-gray {
    background-color: hsl(var(--clr-gray));
}

.clr-safe {
    background-color: hsl(var(--clr-safe));
}

.clr-safe--shade {
    background-color: hsl(var(--clr-safe--shade));
}

.clr-cheap {
    background-color: hsl(var(--clr-cheap));
}

.clr-cheap--shade {
    background-color: hsl(var(--clr-cheap--shade));
}

.clr-fast--primary {
    background-color: hsl(var(--clr-fast--primary));
}

.clr-fast--primary--shade {
    background-color: hsl(var(--clr-fast--primary--shade));
}

.clr-fast--secondary {
    background-color: hsl(var(--clr-fast--secondary));
}

.clr-fast--secondary-shade {
    background-color: hsl(var(--clr-fast--secondary--shade));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

.text-gray {
    color: hsl(var(--clr-gray));
}

.text-safe {
    color: hsl(var(--clr-safe))
}

;

.text-safe--shade {
    color: hsl(var(--clr-safe-shade))
}

;

.text-cheap {
    color: hsl(var(--clr-cheap))
}

;

.text-cheap-shade {
    color: hsl(var(--clr-cheap--shade))
}

;

.text-fast--primary {
    color: hsl(var(--clr-fast--primary))
}

;

.text-fast--primary--shade {
    color: hsl(var(--clr-fast--primary--shade))
}

;

.text-fast--secondary {
    color: hsl(var(--clr-fast--secondary))
}

;

.text-fast--secondary--shade {
    color: hsl(var(--clr-fast--secondary--shade))
}

;

/* typography */

.ff-test {
    font-family: var(--ff-serif);
}

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans {
    font-family: var(--ff-sans);
}


.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fw-900 {
    font-weight: 900;
}

.fw-800 {
    font-weight: 800;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.fw-200 {
    font-weight: 200;
}

.fw-100 {
    font-weight: 100;
}




/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */


/* home */

.main {
    text-align: center;
    margin-inline: auto;
    height: 100vh;
    -ms-grid-rows: 30% 25% 45%;
    grid-template-rows: 30% 25% 45%;
        grid-template-areas:
        "ml"
        "mlc"
        "mr";

}

.main-left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ml;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.img-logo {
    margin-top: 3em;
    margin-left: -3em;
    width: 10em;
}

.header-bold {
    letter-spacing: -.08em;
}

.main-left--content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: mlc;
    margin-block: auto;
    padding-inline: 1em;
}

.main-right {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: mr;
    pointer-events: auto;
    height: 85%;
    /* border: 2px solid red;*/
}

.main-right>nav {
    height: 100%;
}

.primary-navigation {
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
    height: 100%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    /* gap: 0;*/
    /* padding-left: 0;*/
    padding: .5em 0;
    /* 	padding-bottom: 1em; */
    /* border: 1px solid red; */
}

.card {
    /*	min-height: 100%; */
    padding-inline: 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* --gap: 0; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1em;
    border-style: solid;
    -o-border-image: -o-linear-gradient(right,
            hsl(var(--clr-dark)) 1%,
            var(--bd-clr, hsl(var(--clr-light))) 50%,
            hsl(var(--clr-dark)) 100%) 0 0 100% 0/0 0 .2em 0 stretch;
       border-image: -webkit-gradient(linear,
            right top, left top,
            color-stop(1%, hsl(var(--clr-dark))),
            color-stop(50%, var(--bd-clr, hsl(var(--clr-light)))),
            to(hsl(var(--clr-dark)))) 0 0 100% 0/0 0 .2em 0 stretch;
       border-image: linear-gradient(to left,
            hsl(var(--clr-dark)) 1%,
            var(--bd-clr, hsl(var(--clr-light))) 50%,
            hsl(var(--clr-dark)) 100%) 0 0 100% 0/0 0 .2em 0 stretch;

}

.card-fast {
    --bd-clr: hsl(var(--clr-fast--primary));
	  -webkit-animation-delay: .5s;
  	animation-delay: .5s; 
}

.card-safe {
    --bd-clr: hsl(var(--clr-safe));
	  -webkit-animation-delay: 1s;
  	animation-delay: 1s;
}

.card-cheap {
    --bd-clr: hsl(var(--clr-cheap));
		-webkit-animation-delay: 1.5s;
		animation-delay: 1.5s; 
}

.menu-heading--bottom {
    /* min-height: 100%; */
    /*width: 30%;*/

}

.hero-nav-img {
    width: 3em;
     /* max-height: 50px; */
    
}

.hero-nav-img--safe{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.arrow-img {
    width: 4em;
    margin-left: .5em;
}


.main-right--description {
    display: none;
}

/*  arrows color */


.arrow-rocket {
    fill: hsl(var(--clr-fast--primary));
}

.arrow-lock {
    fill: hsl(var(--clr-safe));
}

.arrow-price {
    fill: hsl(var(--clr-cheap));
}

/*  rocket color */

.rocket-clr-primary {
    fill: hsl(var(--clr-fast--secondary));
}

.rocket-clr-primary--shade {
    fill: hsl(var(--clr-fast--secondary--shade));
}

.rocket-clr-light {
    fill: hsl(var(--clr-fast--primary));
}

/*   padlock color   */

.left-darker,
.dark-part-ring{
    fill: hsl(var(--clr-safe--shade)) ;
}

.right-lighter,
.light-part-ring {
    fill: hsl(var(--clr-safe));
}

/*   SCISSORS COLORS   */
.scissor-blade-light{
	fill: hsl(var(--clr-light));
}
.scissor-blade-dark, 
.scissor-holder{
	fill: hsl(var(--clr-gray));
}

.scissor-dollar{
	fill: hsl(var(--clr-cheap--shade));
}


.img-icon {
    stroke: hsl(var(--clr-gray));
    stroke-width: 5;
    fill-opacity: 0;
    max-width: 3em;
    /* max-width: 80%; */
    height: 100%;
    overflow: visible;
}

.card-fast:hover #Window {
    stroke: hsl(var(--clr-white));
    stroke-width: 10;
    -webkit-transition: stroke .5s;
    -o-transition: stroke .5s;
    transition: stroke .5s;
}

/*      IZMENJEN DEO    */

/*   rocket animation   */

.card,
.hero-nav-img,
.rocket,
.padlock,
.scissors{
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
		
}

.padlock {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
		
}



.card:hover .img-icon {
    fill-opacity: 1;
    stroke-width: 0;
		-webkit-transform-origin: 40% 40%;
		    -ms-transform-origin: 40% 40%;
		        transform-origin: 40% 40%;

}


.card:hover .rocket {
   	-webkit-transform: rotate(90deg);
   	    -ms-transform: rotate(90deg);
   	        transform: rotate(90deg);
  
}



.card:hover .padlock {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.card:hover .scissors {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

/*   do ovog dela        */








.card:hover {
    background-size: 5px 0%,
        5px 100%,
        100% 5px;
}




@media (max-height: 500px) {

    .main {
        padding-inline: 2em;
        text-align: left;
        -ms-grid-columns: 55% 43%;
        grid-template-columns: 55% 43%;
        -ms-grid-rows: 80%;
        grid-template-rows: 80%;
            grid-template-areas:
            "ml mr"
            "ml mr";
        border: 1px solid yellow;
    }

    .main-left {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: ml;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        min-height: 100%;
        min-width: 100%;
        /*	border: 1px solid red; */
    }
/*
    .img-logo {
        overflow: visible;
        max-width: 10em;
        height: 70%;
    }
	*/

    .header-bold {
        letter-spacing: -.08em;
    }

    .main-left--content {
        display: none;
    }

    .main-left {

        -ms-grid-row: 1;

        -ms-grid-row-span: 2;

        -ms-grid-column: 1;
    }

    .main-right {

        -ms-grid-row: 1;

        -ms-grid-row-span: 2;

        -ms-grid-column: 2;
    }
}

@media (max-height: 600px) {
    /*body {
		background: conic-gradient(from -25deg at top 70% left 61.1vw,
		hsl(var(--clr-dark)) 0%,
		hsl(var(--clr-light)) 100%), no-repeat;
    } */

    body {
        background: -webkit-gradient(linear,
                right top, left top,
                color-stop(45%, hsl(var(--clr-dark))),
                color-stop(0%, hsl(var(--clr-light)))), no-repeat;
        background: -o-linear-gradient(right,
                hsl(var(--clr-dark)) 45%,
                hsl(var(--clr-light)) 0%), no-repeat;
        background: linear-gradient(270deg,
                hsl(var(--clr-dark)) 45%,
                hsl(var(--clr-light)) 0%), no-repeat;
    }


    .main {
        padding-inline: 2em;
        text-align: left;
        -ms-grid-columns: 55% 43%;
        grid-template-columns: 55% 43%;
        -ms-grid-rows: 55% 40%;
        grid-template-rows: 55% 40%;
            grid-template-areas:
            "ml mr"
            "mlc mr";
    }

    .main-left--content {
        padding-inline: 0;
    }

    @media (max-width: 750px) {
        .main-right {
            height: 98%;
            margin: auto;
        }

        .primary-navigation {
            -webkit-writing-mode: vertical-lr;
                -ms-writing-mode: tb-lr;
                    writing-mode: vertical-lr;
            padding: 0em;
        }

        .card {
            padding-inline: 2em 1em;

            -o-border-image: -o-linear-gradient(top,
                    hsl(var(--clr-dark)) 1%,
                    var(--bd-clr, hsl(var(--clr-light))) 50%,
                    hsl(var(--clr-dark)) 100%) 0 100% 0 0/0 .2em 0 0 stretch;

               border-image: -webkit-gradient(linear,
                    left top, left bottom,
                    color-stop(1%, hsl(var(--clr-dark))),
                    color-stop(50%, var(--bd-clr, hsl(var(--clr-light)))),
                    to(hsl(var(--clr-dark)))) 0 100% 0 0/0 .2em 0 0 stretch;

               border-image: linear-gradient(to bottom,
                    hsl(var(--clr-dark)) 1%,
                    var(--bd-clr, hsl(var(--clr-light))) 50%,
                    hsl(var(--clr-dark)) 100%) 0 100% 0 0/0 .2em 0 0 stretch;
        }
    }


    .main-left {

        -ms-grid-row: 1;

        -ms-grid-row-span: 1;

        -ms-grid-column: 1;
    }


    .main-left--content {

        -ms-grid-row: 2;

        -ms-grid-column: 1;
    }


    .main-right {

        -ms-grid-row: 1;

        -ms-grid-row-span: 2;

        -ms-grid-column: 2;
    }


    .main-left {

        -ms-grid-row: 1;

        -ms-grid-row-span: 1;

        -ms-grid-column: 1;
    }

}

@media (min-width: 765px) and (min-height: 700px) {

    body {
        background: conic-gradient(from -25deg at top 70% left 61.1vw,
                hsl(var(--clr-dark)) 0%,
                hsl(var(--clr-light)) 100%), no-repeat;
    }

    body::after {
        background: conic-gradient(from -25deg at top 70% left 61.1vw,
                hsl(var(--clr-dark)) 49%,
                hsl(var(--clr-light)) 100%), no-repeat;
    }


    .main {
        padding-inline: 2em;
        text-align: left;
        -ms-grid-columns: 61.5% 37.5%;
        grid-template-columns: 61.5% 37.5%;
        -ms-grid-rows: 70% 28%;
        grid-template-rows: 70% 28%;
            grid-template-areas:
            "ml mr"
            "mlc mrd";
    }

    .main-left {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
        padding-top: .5em;
    }
	
    .img-logo {
	margin-left: 0;
     }

    .main-left--content {
        padding-inline: 0;

    }
	


    .main-right {
        height: 100%;

    }

    .primary-navigation {
        -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        -webkit-transform: skew(25deg);
            -ms-transform: skew(25deg);
                transform: skew(25deg);
        -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
                transform-origin: bottom left;
        -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr;
        width: 100%;
        height: 100%;
        padding: 0;
        /* border: 1px solid red; */
    }

    .card {
        -o-border-image: -o-linear-gradient(top,
                hsl(var(--clr-dark) / .05) 1%,
                var(--bg-clr, hsl(var(--clr-light))) 50%,
                hsl(var(--clr-dark) / .05) 100%) 0 100% 0 0/0 .3em 0 0 stretch;
           border-image: -webkit-gradient(linear,
                left top, left bottom,
                color-stop(1%, hsl(var(--clr-dark) / .05)),
                color-stop(50%, var(--bg-clr, hsl(var(--clr-light)))),
                to(hsl(var(--clr-dark) / .05))) 0 100% 0 0/0 .3em 0 0 stretch;
           border-image: linear-gradient(to bottom,
                hsl(var(--clr-dark) / .05) 1%,
                var(--bg-clr, hsl(var(--clr-light))) 50%,
                hsl(var(--clr-dark) / .05) 100%) 0 100% 0 0/0 .3em 0 0 stretch;
        color: var(--bg-clr);
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;

    }

    /*******    FAST   *********/

    .card-fast,
    .card-safe,
    .card-cheap {
        --bg-clr: hsl(var(--clr-gray));

    }

    .card-fast:hover .menu-heading--fast,
    .card-fast:hover .nav-more--fast,
    .card-fast:hover {
        --bg-clr: hsl(var(--clr-fast--primary));
    }


    .card-safe:hover .menu-heading--safe,
    .card-safe:hover .nav-more--safe,
    .card-safe:hover {
        --bg-clr: hsl(var(--clr-safe));
    }

    .card-cheap:hover .menu-heading--cheap,
    .card-cheap:hover .nav-more--cheap,
    .card-cheap:hover {
        --bg-clr: hsl(var(--clr-cheap));
    }



    .main-right--description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        grid-area: mrd;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 1em;
        -webkit-transform: skew(25deg);
            -ms-transform: skew(25deg);
                transform: skew(25deg);
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
        font-size: calc(1.5vw + 1rem);
        width: 70%;
        height: 90%;
        /*	 border: 1px solid yellow;  */
    }

    .menu-heading--bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 90%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /*	border: 1px solid red;*/

    }


    .main-left {

        -ms-grid-row: 1;

        -ms-grid-row-span: 1;

        -ms-grid-column: 1;
    }


    .main-left--content {

        -ms-grid-row: 2;

        -ms-grid-column: 1;
    }


    .main-right {

        -ms-grid-row: 1;

        -ms-grid-row-span: 1;

        -ms-grid-column: 2;
    }


    .main-left {

        -ms-grid-row: 1;

        -ms-grid-row-span: 1;

        -ms-grid-column: 1;
    }
}

@media (max-height: 500px) {

    .main-left {

        -ms-grid-row: 1;

        -ms-grid-row-span: 2;

        -ms-grid-column: 1;
    }
}

@media (min-width: 765px) and (min-height: 700px) {


    .main-right--description {

        -ms-grid-row: 2;

        -ms-grid-column: 2;
    }
}

@media (min-width: 1200px) {
    .menu-heading--cheap {
        letter-spacing: -.04em;
    }

    .menu-heading--bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .primary-navigation {
        padding-left: .5em;
    }

    .arrow-img {
        width: 3em;
        margin-left: 0;
    }
}
