:root {
    /* colors */

    --clr-dark: 205 65% 8%;
    --clr-light: 338 13% 88%;
    --clr-white: 0 0% 95%;
    --clr-gray: 345 2% 58%;
    --clr-safe: 181 100% 53%;
    --clr-safe--shade: 204 100% 23%;
    --clr-cheap: 115 100% 53%;
    --clr-cheap--shade: 115 100% 23%;
    --clr-fast--secondary: 0 100% 53%;
    --clr-fast--secondary--shade: 0 100% 23%;
    --clr-fast--primary: 51 100% 53%;
    --clr-fast--primary--shade: 51 100% 23%;

    /* font-sizes */
    --fs-900: clamp(3.6rem, 11vw + 1rem, 5rem);
    --fs-800: 3.5rem;
    --fs-700: calc(1.5vw + 1.17rem);
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: 'Cormorant', serif;
    --ff-sans: 'Karla', sans-serif;
}

@media (min-width: 768px) {
    :root {

        --fs-900: clamp(3rem, 8vw + 1rem, 9.375rem);
        ;
        --fs-700: calc(1.5vw + 1rem);
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
		box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

/* set up the body */

/*    HOME     */

.home {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-light));
	  height: 100vh;
    position: relative;
    z-index: 100;
    pointer-events: none;
}

/**** ANIMATE BODY BACKGROUND ON HOVER *****/

.home::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    transition: opacity 1s;
    pointer-events: none;
}

.home:hover::after {
    opacity: 1;
    pointer-events: none;

}

/*    LAYOUT BODY      */

.fast{
		font-family: var(--ff-sans);
		font-size: var(--fs-400);
		color: hsl(var(--clr-light));
		background-color: hsl(var(--clr-dark));
		line-height: 1.5;
		display: grid;
		grid-template-rows: min-content 1fr;
		overflow-x: hidden;
}



/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
	display: flex;
    /* gap: var(--gap, 1rem);*/
}

.grid {
    display: grid;
    gap: var(--gap, .17rem);
}

.d-block {
    display: block;
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: .75rem;
}

.container {
    padding-inline: 5em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
    padding: .5em 1em;
    margin-inline: auto;
            transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
            transform: translateY(0);
}

/* colors */

.clr-dark {
    background-color: hsl(var(--clr-dark));
}

.clr-light {
    background-color: hsl(var(--clr-light));
}

.clr-white {
    background-color: hsl(var(--clr-white));
}

.clr-gray {
    background-color: hsl(var(--clr-gray));
}

.clr-safe {
    background-color: hsl(var(--clr-safe));
}

.clr-safe--shade {
    background-color: hsl(var(--clr-safe--shade));
}

.clr-cheap {
    background-color: hsl(var(--clr-cheap));
}

.clr-cheap--shade {
    background-color: hsl(var(--clr-cheap--shade));
}

.clr-fast--primary {
    background-color: hsl(var(--clr-fast--primary));
}

.clr-fast--primary--shade {
    background-color: hsl(var(--clr-fast--primary--shade));
}

.clr-fast--secondary {
    background-color: hsl(var(--clr-fast--secondary));
}

.clr-fast--secondary-shade {
    background-color: hsl(var(--clr-fast--secondary--shade));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

.text-gray {
    color: hsl(var(--clr-gray));
}

.text-safe {
    color: hsl(var(--clr-safe));
}

;

.text-safe--shade {
    color: hsl(var(--clr-safe-shade));
}

;

.text-cheap {
    color: hsl(var(--clr-cheap));
}

;

.text-cheap-shade {
    color: hsl(var(--clr-cheap--shade));
}

;

.text-fast--primary {
    color: hsl(var(--clr-fast--primary));
}

;

.text-fast--primary--shade {
    color: hsl(var(--clr-fast--primary--shade));
}

;

.text-fast--secondary {
    color: hsl(var(--clr-fast--secondary));
}

;

.text-fast--secondary--shade {
    color: hsl(var(--clr-fast--secondary--shade));
}

;

/* typography */

.ff-test {
    font-family: var(--ff-serif);
}

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans {
    font-family: var(--ff-sans);
}


.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fw-900 {
    font-weight: 900;
}

.fw-800 {
    font-weight: 800;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.fw-200 {
    font-weight: 200;
}

.fw-100 {
    font-weight: 100;
}




/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */


/* home */

.main {
    text-align: center;
    margin-inline: auto;
    grid-template-rows: 1.2fr .3fr 1.5fr;
    height: 100vh; 
    grid-template-areas:
	"ml"
	"mlc"
	"mr";

}

.main-left {
    grid-area: ml;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

}

.img-logo {
    margin-top: 1em;
    margin-left: -3em;
    width: clamp(7rem, 15vw + 2rem, 10rem);

}

.header-bold {
    letter-spacing: -.08em;
}

.main-left--content {
    grid-area: mlc;
    /* margin-block: auto; */
    padding: 1em;
}

.main-right {
    grid-area: mr;
    pointer-events: auto;
		background-color: hsl(var(--clr-dark));
}

.main-right > nav {
    height: 90%;
}

.primary-navigation {
    grid-template-rows: repeat(3, auto);
    height: 100%;
    align-items: stretch;
    padding: .5em 0;
}

.home-card {
    padding-inline: 1em;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5em;
    border-style: solid;
    border-image: linear-gradient(to left,
            hsl(var(--clr-dark)) 1%,
            var(--bd-clr, hsl(var(--clr-light))) 50%,
            hsl(var(--clr-dark)) 100%) 0 0 100% 0/0 0 .2em 0 stretch;

}

.card-fast {
    --bd-clr: hsl(var(--clr-fast--primary));
  	animation-delay: .5s; 
}

.card-safe {
    --bd-clr: hsl(var(--clr-safe));
  	animation-delay: 1s;
}

.card-cheap {
    --bd-clr: hsl(var(--clr-cheap));
		animation-delay: 1.5s; 
}

.hero-nav-img {
    width: 3em;
}

.hero-nav-img--safe{
    transform: scale(1.1);
}

.arrow-img {
    width: 4em;
    margin-left: .5em;
}

.main-right--description {
    display: none;
    animation-delay: 2s; 
}

/*  arrows color */


.arrow-rocket {
    fill: hsl(var(--clr-fast--primary));
}

.arrow-lock {
    fill: hsl(var(--clr-safe));
}

.arrow-price {
    fill: hsl(var(--clr-cheap));
}

/*  rocket color */

.rocket-clr-primary {
    fill: hsl(var(--clr-fast--secondary));
}

.rocket-clr-primary--shade {
    fill: hsl(var(--clr-fast--secondary--shade));
}

.rocket-clr-light {
    fill: hsl(var(--clr-fast--primary));
}

/*   padlock color   */

.left-darker,
.dark-part-ring{
    fill: hsl(var(--clr-safe--shade)) ;
}

.right-lighter,
.light-part-ring {
    fill: hsl(var(--clr-safe));
}

/*   SCISSORS COLORS   */
.scissor-blade-light{
	fill: hsl(var(--clr-light));
}
.scissor-blade-dark, 
.scissor-holder{
	fill: hsl(var(--clr-gray));
}

.scissor-dollar{
	fill: hsl(var(--clr-cheap--shade));
}


.img-icon {
    stroke: hsl(var(--clr-gray));
    stroke-width: 5;
    fill-opacity: 0;
    max-width: 3em;
    height: 100%;
    overflow: visible;
}

.card-fast:hover #Window {
    stroke: hsl(var(--clr-white));
    stroke-width: 10;
    transition: stroke .5s;
}

/*   icons animation   */

.home-card,
.hero-nav-img,
.rocket,
.padlock,
.scissors{
    transition: all .5s ease-in-out;
}

.padlock {
    transform-style: preserve-3d;
		
}

.home-card:hover .img-icon {
    fill-opacity: 1;
    stroke-width: 0;
    transform-origin: 40% 40%;
}

.home-card:hover .rocket {
     transform: rotate(90deg);
}

.home-card:hover .padlock {
		transform: rotateY(180deg);
}

.home-card:hover .scissors {
		transform: scale(1.2);
}

.home-card:hover {
    background-size: 5px 0%,
        5px 100%,
        100% 5px;
}



      /* TABLET VERSION */
      @media only screen and (min-width: 768px) {
					.main {
					  margin-left: 2em;
					  text-align: left;
					  grid-template-rows: 1.5fr 1fr;
					  grid-template-columns: 1fr 1fr;
					  grid-template-areas:
						"ml mr"
						"mlc mr";
					}

					.main-left {
						justify-content: space-between;
						align-items: flex-start;
					}

					.img-logo {
						margin-left: 0;
					}

				.main-left--content {
						padding: 0; 
						margin-block: auto 10%;
				}
     
		         .primary-navigation {
            writing-mode: vertical-lr;
            padding: 0em;
        }

					.home-card {
						border-image: linear-gradient(to bottom,
															hsl(var(--clr-dark)) 1%,
															var(--bd-clr, hsl(var(--clr-light))) 50%,
															hsl(var(--clr-dark)) 100%) 0 100% 0 0/0 .2em 0 0 stretch;
									}
									
					.main-right > nav {
						height: 100%;
							width: 100%;
					}

					.primary-navigation {
						  height: 98%;
					}
					.rocket,
					.padlock,
					.scissors {
					  margin-left: 1em;
				}

		 }
			
			
			
      /* DESKTOP VERSION */
      @media only screen and (min-width: 980px) {

    .home {
        background: conic-gradient(from -25deg at top 70% left 61.1vw,
                hsl(var(--clr-dark)) 0%,
                hsl(var(--clr-light)) 100%), no-repeat;
    }

    .home::after {
        background: conic-gradient(from -25deg at top 70% left 61.1vw,
                hsl(var(--clr-dark)) 49%,
                hsl(var(--clr-light)) 100%), no-repeat;
    }


    .main {
        grid-template-columns: 61.5% 37.5%; 
        grid-template-rows: 70% 28%;
            grid-template-areas:
            "ml mr"
            "mlc mrd";
    }
		


    .main-left {
        padding-top: .5em;
    }
	      
	.main-left--content {
		padding-bottom: 0em;
		margin-block: auto .3em;
	}
	
    .main-right {
      height: 100%;
			background-color: transparent;
    }


    .primary-navigation {
        grid-template-rows: repeat(3, 1fr);
        transform: skew(25deg);
        transform-origin: bottom left;
        writing-mode: vertical-lr;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .home-card {
           border-image: linear-gradient(to bottom,
                hsl(var(--clr-dark) / .05) 1%,
                var(--bg-clr, hsl(var(--clr-light))) 50%,
                hsl(var(--clr-dark) / .05) 100%) 0 100% 0 0/0 .3em 0 0 stretch;
        color: var(--bg-clr);
        transition: .4s;
    }

		
	.intro-tab{
		text-align: center;
		letter-spacing: .1em;
		line-height: 1.6em;
	}
	      
	      
    .main-right--description {
        grid-area: mrd;
        display: flex;
	align-items: center;
	
	transform: skew(25deg);
	transform-origin: 0% 20%;

	width: 75%;
	height: 90%;
    }
	      
	.article-description > li {
		margin-left: 1em;
		list-style: disc;
	}

		
    .card-fast,
    .card-safe,
    .card-cheap {
        --bg-clr: hsl(var(--clr-gray));

    }

    .card-fast:hover .menu-heading--fast,
    .card-fast:hover .nav-more--fast,
    .card-fast:hover {
        --bg-clr: hsl(var(--clr-fast--primary));
    }


    .card-safe:hover .menu-heading--safe,
    .card-safe:hover .nav-more--safe,
    .card-safe:hover {
        --bg-clr: hsl(var(--clr-safe));
    }

    .card-cheap:hover .menu-heading--cheap,
    .card-cheap:hover .nav-more--cheap,
    .card-cheap:hover {
        --bg-clr: hsl(var(--clr-cheap));
    }


    .menu-heading--bottom {
        display: flex;
        min-width: 90%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
	.rocket,
	.padlock,
	.scissors {
             margin-left: 0em;
				}
		
}
		
		
		
		
@media (min-width: 1200px) {
    .menu-heading--cheap {
        letter-spacing: -.04em;
    }

    .menu-heading--bottom {
			flex-direction: column;
    }

    .primary-navigation {
        padding-left: .5em;
    }

    .arrow-img {
        width: 3em;
        margin-left: 0;
    }
}
	
	/*******    FAST   *********/

.layout-header {
    justify-content: space-between;
    align-items: center;
}

.layout-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
}

.layout-navigation a {
    text-decoration: none;
}

.layout-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    .layout-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }
    
    .layout-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    
    .layout-navigation.underline-indicators > .active {
       border: 0;
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }
    
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./assets/shared/icon-close.svg);
    }
    
    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
    
}

@media (min-width: 35em) {
    .layout-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 44.999em) {
    .layout-navigation a > span {
        display: none;
    }
}

@media (min-width: 45em) {
    
     .layout-header::after {
         content: '';
         display: block;
         position: relative;
         height: 1px;
         width: 100%;
         margin-right: -2.5rem;
         background: hsl( var(--clr-white) / .25);
         order: 1;
     }
     
    nav {
        order: 2;
    }
    
    .layout-navigation {
        margin-block: 2rem;
    }
    
   
}


.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}



/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */


/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */


.grid-container {
    text-align: center;
    display: grid;
		gap: 4em;
    place-items: center;
    padding-inline: 1rem;
    padding-block: 4rem;
}

.grid-container p:not([class]) {
    max-width: 60ch;
}

   

@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }
    
  
    .main-intro {
        grid-column: 2;

    }

    .grid-container--home > *:last-child {
        grid-column: 3;
			 	min-height: 100%;
			  transform: scale(1.3);
    }
}


/*   GRAPH - SPEED BOUNCE    */

.chart-container {
  text-align: left;
  flex-direction: column;
  margin: 5em auto;
  max-width: 600px;
  padding: 0 1em;
  background: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
  border: 1px solid hsl(var(--clr-fast--secondary--shade));
  border-radius: 25px;
  box-shadow: 20px 30px 80px -30px hsl(var(--clr-dark));
  border-top: .6em solid hsl(var(--clr-fast--secondary--shade));
  align-self: center;
}

.horizontal-bar-chart {
  padding-left: 0;

}

.horizontal-bar-chart li,
.horizontal-bar-chart p {
  position: relative;
  display: block;
}


.horizontal-bar-chart li {
  height: 2em;
  margin-bottom: .2em;
  background: hsl(var(--clr-white));
  border-radius: 50px;
}

.horizontal-bar-chart p {
  /*   color: #666666; */
  margin-block: .5em 1.5em;
  /* text-indent: 1em; */
}

.chart-container-index {
  position: absolute;
  height: 100%;
  text-indent: 1em;
  font-size: 1em;
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-fast--secondary--shade));
  line-height: 2em;
  border-radius: 50px;
}


/*    END      */

/*    Cards section    */

.cards-section{
    position: relative;
    padding-bottom: 4em;
}

.cards-container{
    width: 100%;
    max-width: 1120px;
    position: relative;
    display: grid;
    margin: auto auto 30px;
    padding-inline: 5%;
    grid-gap: 16px;
}

.cards-section--title{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 30px;
    gap: 30px;
}



.card {
    display: grid;
    /* grid-template-columns: 48px 1fr; */

    grid-gap: 16px;
    align-items: center;
    padding: 16px;
	box-shadow: 8px 8px 24px 0 rgba(9,13,20,0.4),-4px -4px 8px 0 rgba(224,224,255,0.04),0 1px 1px 0 rgba(9,13,20,0.4);
    border: solid 1px rgba(245,247,250,0.06);
    background-image: linear-gradient(101deg,rgba(245,247,250,.12),rgba(245,247,250,.06) 52%,rgba(245,247,250,0));
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 24px;
    transition: .4s;
}


.card-title {
    font-size: 2rem;
}

.card-desription {
		font-size: 1.5rem;
   /* grid-column: 1/3; */
}








 @media (min-width: 900px){
    .cards-section{
        overflow: hidden;
        padding-bottom: 15em;
    }
    
    .cards-container{
        padding-left: 32px;
        padding-right: 32px;
        grid-gap: 48px;
        text-align: center;
    }

    .cards {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr; 
        place-items: center;
    }

    .card {
       /* grid-template-columns: auto; */
			 		min-height: 300px;
        grid-gap: 24px;
        position: relative;
        padding: 24px;
    }

    .card-center {
        transform: translateY(-32px);
    }

}



/*    Decoration    */


.decoration-big {
    display: block;
   /* width: 560px;
    height: 560px; */
		width: clamp(10vh, 20vh, 100%);
		/*width: 100%;
		max-width: 50vh; */
    aspect-ratio: 1;
    right: 0;
    top: 0;
    background-image: linear-gradient(112.49deg, hsl(var(--clr-fast--secondary--shade)) 1.05%, hsl(var(--clr-fast--primary)) 99.89%);
}
.page-decoration {
    border-radius: 50%; 
		/* border-radius: 100% 0% 53% 47% / 36% 7% 93% 64%; */
    position: absolute;
		/*inset: 0;*/
    z-index: -1;
}

@media (min-width: 45em) {
	.page-decoration{
		  top: -1em;
			right: -1em;
			width: 560px;
			border-radius: 100% 0% 53% 47% / 36% 7% 93% 64%;
	}
}

.decoration {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.decoration-left{
    width: 200px; 
    height: 200px;
    top: -11%;
    left: -11%;
    background-image: linear-gradient(112.49deg,#12c2e9 1.05%,#c471ed 54.08%,#f64f59 99.89%);
    transform: rotate(-180deg);
}

.decoration-center {
    width: 300px;
    height: 300px;
    right: 1%;
    top: 33%;
    background-image: linear-gradient(112.49deg,red 1.05%,blue 99.89%);
}

.decoration-right {
    width: 150px;
    height: 150px;
    right: 50%;
    top: 80%;
    background: linear-gradient(112.49deg,#f0c 1.05%,#339 99.89%);
    transform: matrix(-1,0,0,1,0,0);
}

 @media (min-width: 900px){
    .decoration-left{
        width: 170px;
        height: 170px;
        top: 10px;
        left: -65px;
    }

    .decoration-center {
        width: 300px;
        height: 300px;
        right: 30%;
        top: 50%;
    }

    .decoration-right {
        width: 223px;
        height: 223px;
        left: 90%;
        top: 28px;
    }

 }


 /*    Main section   */

.description{
    margin-bottom: 5px;
    position: relative;
}

.description-container{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

.description-text-container{

}

.description-text-container--title{
   /* margin-bottom: 1em; */ 
}

.description-text-container--paragraph{
    margin-bottom: 16px
}    

.description-image-container{
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
   box-shadow: 8px 8px 24px 0 rgba(9,13,20,0.4),-4px -4px 8px 0 rgba(224,224,255,0.04),0 1px 1px 0 rgba(9,13,20,0.4);
    border: solid 1px rgba(245,247,250,0.06);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    transition: .5s ease;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzMwIiBoZWlnaHQ9IjM1MCIgdmlld0JveD0iMCAwIDczMCAzNTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDBINzMwVjM1MEwwIDI3MFYwWiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzE0MTMyXzQxMzAyKSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzE0MTMyXzQxMzAyIiB4MT0iLTgzLjA4OTQiIHkxPSIxMDguODQxIiB4Mj0iNTAxLjM5MiIgeTI9IjYxMy40OTYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzAwRkZBQSIvPgo8c3RvcCBvZmZzZXQ9IjAuNTM2NDU4IiBzdG9wLWNvbG9yPSIjNDU3OUY1Ii8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzlDNDJGNSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPgo=);
    margin: auto;
    padding: 24px;
}

.description-image-container-img{
    max-width: 100%;
}

@media (min-width: 900px){
    .description{
        margin-bottom: 170px;
    }

    .description-container{
        max-width: 1120px;
        padding-left: 32px;
        padding-right: 32px;
        grid-template-columns: 353px minmax(450px,730px);
        grid-gap: 30px;
    }
    .description-image-container{
        padding: 48px;
    }
		.description-text-container--title{
     /* margin-bottom: 1em; */
}
}
